
/* font-family: 'Roboto', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Slabo 27px', serif;
font-family: 'Oswald', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
font-family: 'Concert One', cursive; */

:root{
    --primary-color: #45ccb8;
    --light-gray: #2b3032a1;
    --border: #2b303218;
    --text-color: #ff686b;
    --roboto:'Roboto', sans-serif;
    --gugi: 'Gugi', cursive;
    --sofia: 'Sofia', cursive;
}


body{
    font-family: 'Lato', sans-serif;
}

header{
    background-color: var(--primary-color);
    font-family: var(--roboto);
}

header .site-title{
    /* font-family: var(--gugi); */
    font-family: 'Oswald', sans-serif;
}

.container .dropdown-toggle,
.container .dropdown-item{
    font-size: 0.7em;
} 

.header-links a{
    text-decoration: none;
    color: white;
}

/* Navigation Menu */

.navbar-nav{
    padding: 0.8em 0em;
}

.navbar-nav .nav-link{
    font-size: 0.9em;
    color: var(--light-gray) !important;
}

.navbar-nav .nav-item .nav-link{
    padding:  0 1.3em;
    
}

.navbar-nav .basket-icon{
    margin-right: 5.5em !important;
}

.navbar-toggler{
    margin-left: 50%;
}